@model NetCoreAI.Project02_ApiConsumeUI.Dtos.CreateCustomerDto
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <form method="post">
        <br />
        <br />
        <label>Müşteri Adı</label>
        <input type="text" class="form-control" asp-for="customerName" />
        <br />
        <label>Müşteri Soyadı</label>
        <input type="text" class="form-control" asp-for="customerSurname" />
        <br />
        <label>Müşteri Bakiye</label>
        <input type="text" class="form-control" asp-for="customerBalance" />
        <br />
        <button class="btn btn-primary">Müşteriyi Oluştur</button>
    </form>
</div>
